<ul class="footer">
    <li>
        <a id="gallery" href="${ub}/galeria">Galería de Imágenes</a>
    </li>
    <li>
        <a id="contact" href="${ub}/contacto">Contacto y Ubicación</a>
    </li>
    <li>
        <a id="calendar" href="https://storage.googleapis.com/cecati13/Calendario%20Escolar%202022-2023.pdf" 
        target="_blank">Calendario Escolar</a>        
    </li>
    <li>
        <a id="facebook" href="https://www.facebook.com/cecati.trece/about" target="_blank">
            <div class="footer__img--text">Facebook</div>
            <img src="https://storage.googleapis.com/cecati13/assets/facebook-logo.png" 
            alt="Facebook" class="footer__img" height="50px">
        </a>
        <a id="youtube" href="https://www.youtube.com/channel/UC5LX_ksGHFpydgsMJdWCv0A" target="_blank">
            <div class="footer__img--text">YouTube</div>
            <img src="https://storage.googleapis.com/cecati13/assets/youtube-logo.png"
            alt="YouTube" class="footer__img" height="50px">
        </a>
    </li>
</ul>