<nav class="nav__hide">
    <ul class="nav__show">
        <li>
            <a id="home" href="${ub}/">Inicio</a>
        </li>
        <li>
            <a id="specialties" href="${ub}/oferta" >Oferta Educativa</a>
        </li>
        <li>
            <a id="courses" href="${ub}/cursos">Cursos Disponibles</a>
        </li>        
        <li>
            <a id="question" href="${ub}/preguntas">Preguntas Frecuentes</a>
        </li>
        <li>
            <a id="services" href="${ub}/servicios" >Servicios</a>
        </li>
    </ul>
</nav>