@import "../../styles.scss";

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 65px;
    height: 65px;
    z-index: 3;
    cursor: pointer;
    /* border: solid 3px var(--contrastColor); */
    background-color: $fontColor;
    border-radius: 30%;
    bottom: 10px;
    right:10px;
    color: $mainColor;
    font-size: 1rem;
    font-weight: 500;
}

.menu__mobile {
    stroke: $mainColor;
    height: 35px;
    padding: 4px;
    /* viewBox: 0 0 46 34.5; */
    stroke-linecap: round; 
    stroke-width: 6px;
}

.menu--legend {
    margin-top: 3px;
}

.lineSpin1 {
    transform: translate(31px, -22px) rotate(45deg);
}

.lineSpin2 {
    transform: translate(40px, 3px) rotate(135deg);
}

.lineSpinHide {
      display: none;      
  }

@media (min-width: 1024px) {
    .menu {
        display: none;
    }
}