@import "../styles.scss";

:host {
    display: block;
    height: 100%;
}

header {
    color: var(--fontColor);
    min-height: 100px;
    margin-bottom: 10px;
}

hr {
    background: var(--fontColor);   
    width: 100%;
    display: block;    
    margin: 0;
    height: 6px;
}

main {
    min-height: calc(100vh - 330px);
}

footer {
    font-size: 1.7rem;
    margin-top: auto;
    min-height: 50px;
    width: 100vw; 
    background: linear-gradient(var(--mainColor), var(--mainColor2));
}